* {
  font-family: 'Raleway', sans-serif;
}
body{
  background-color: #131c2e ;
}
.colored-column {
  background-color:  #344353  ;
  max-width: 390px; 
  width: 100%; 
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.button-margin {
  margin: 0 10px;

}

.search-button {
  margin: 0 10px;

}

.Grados {
  text-align: center;
  margin-top: 50%;
  color: white;
  font-size: 50px; 
}


.image-container2 {
  text-align: center;

}


.grib {
  margin-left: 500px;
  margin-top: 80px;
  width: 50%;
}


.centered-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}


.weather-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.weather-grid {
  margin: 10px;
}

.weather-card {
  max-width: 150px; 
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
}

.temp {
  font-size: 15px; 
}


.small-title {
  font-size: 10px; 
}

.imageContainer2 {
  height: 150px;
  margin-left: 4%;
  margin-top: 30%;
}


.center-text p {
  font-size: 40px; 
}

.center-text .MuiTypography-h4 {
  font-size: 30px; 
}

.center-text .MuiTypography-subtitle1 {
  font-size: 20px; 
}
